extends admin_layout

block header
block content
  .dashboard
    .user
      h1 You can easily edit the existing car details or add new cars!
      
      .block.stripe
        .block.stripe
        form.payout(action='/cars/car_dash', method='GET', autocomplete='off')
          input(class='primary' type='submit', value='Go back to the dashboard')

  h3 You can also refer to the car dashboard for the required details.
  h1.title.short-form Fill in the car details required:
  section.form.login
    form(action='/cars/add_car' method='POST', autocomplete='off')
      fieldset
        .row(label='Car VIN')
          input(type='text', name='vin_id', placeholder='TACF25H7MC079RT21', required, autofocus)
        .row(label='Car Model')
          input(type='text', name='mod_name', placeholder='Toyota Corolla', required, autofocus)        
        .row(label='Total Car Points')
          input(type='number', name='total_points', placeholder='20000', required, autofocus)
      input(class='primary', type='submit', value='Add')

              
