extends layout

block content
  h1.title.short-form Log in to the admin account
  section.form.adlogin
    form(action='/admins/adlogin', method='POST', autocomplete='off')
      fieldset
        .row(label='Email')
          input(type='email', name='username', placeholder='john@example.com', required, autofocus)
        .row(label='Password')
          input(type='password', name='password', placeholder='••••••••', required)
      input(class='primary', type='submit',name='adlogin' value='Log in')
