extends admin_layout

block header
block content
  .dashboard
    .user
      h1 You can easily edit the existing car details or add new cars!
      
      .block.stripe
        .block.stripe
        form.payout(action='/cars/car_dash', method='GET', autocomplete='off')
          input(class='primary' type='submit', value='Go back to the dashboard')

  h3 You can also refer to the car dashboard for the required details.
  h1.title.short-form Fill in the car details required:
  section.form.login
    form(action='/cars/car_update' method='POST', autocomplete='off')
      fieldset
        .row(label = 'Choose Car ID:')
          select(id = 'car_list', name='car_id')
            option(value='') Select:
            each car in cars
              option(name= car.car_id ,value = car.car_id) #{car.car_id}

        .row(label='Total Revenue')
          input(type='number', name='revenue', placeholder='1000 - (value is in $)', required, autofocus)
      input(class='primary', type='submit', value='Update')

              
