extends layout

block header
  .intro
    .pilots
      h1 Get ready to go miles with us
      h3 Docuwind PointsApp is an online platform where you can buy points on rental cars and earn money.
      if pilot && pilot.stripeAccountId
        a.button.primary(href='/pilots/dashboard') View dashboard
      else
        a.button.primary(href='/pilots/signup') Become a partner

block content
  .features
    section.schedule
      h3 Subscribe to as many points as you want
      p You can be a part of the PointApp Subscribors team anytime. Spend as much or as little as you want.
    section.earnings
      h3 Earn more with each trip
      p Cash out whenever you want and get instant transfers to your account.
    section.app
      h3 Safe online transactions
      p We use Stripe which has been audited by a PCI-certified auditor and is certified to PCI Service Provider Level 1 - the most stringent level of certification available in the payments industry.

    