extends admin_layout

block header
block content
  .dashboard
    .user
      h1 Here are all the car models
      .block.stripe
        form.payout(action='/cars/car_dash', method='GET', autocomplete='off')
          input(class='primary' type='submit', value='Go back')
        
    section.rides    
      div(style={'width':'1000px','overflow-x':'scroll'})
        if car_models.length == 0
          .no-rides
            .rocket
            h1 No cars to display yet!
            h2 Add some cars!
        else
          .list
            .row
              .cell VIN
              .cell Car Model   
              .cell Car Points         
            each car_model in car_models
              .row
                .cell.my_vin #{car_model.vin_id}
                .cell.my_name #{car_model.mod_name}
                .cell.my_points #{car_model.total_points}
              

block footer
  form.right(action='/cars/add_options', method='POST', autocomplete='off')
     input(type='submit', name="immediate_balance", value='Add a new car!', class='primary-action')