extends layout

block header
block content
  .dashboard
    .user
      h1 Payment Failed!
      
    
    form.payout(action='/pilots/dashboard', method='GET', autocomplete='off')
         input(style='max-width:300px' class='primary' type='submit', value='Go back')

  
              
